.titulo-catalogo {
    margin-top: 200px;
    padding-bottom: 20px;
}

section .cards {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}

section .card-item {
    height: 400px;
    background: var(--secundary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-inforcacao {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img {
    width: 90%;
}
  
.card-item h3 {
    width: 90%;
}

.card-item p {
    width: 90%;
    color: var(--text-color);
}

.card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: var(--button-color);
    border-radius: 4px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}
  
.card-item button:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}